{% extends 'base.html' %}
{% load static %}
{% block title %}
{% endblock %}
{% block content %}
    <h1>{{ project.ptitle }}</h1>
    <div class="row">
        <div class="col-md-8">
            <img src="{% static project.pimage %}" alt="" width="100%">
        </div>
    <div class="col-md-4">
        <h5>About the project:</h5>
        <p>{{ project.pdescription }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.ptechnology }}</p>
    </div>
    </div>
{% endblock %}